#container {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.dot{
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: -1;
  border-radius: 100%;
  background-color: red;

}

#dot1{
  left:75px;
  top: 0;
}

#dot2{
right: 75px;
top: 0;
}

#dot3{
top: 129.9038px;
right: 0;
}

#dot4{
left: 75px;
top: 259.8076px;
}

#dot5{
top: 259.8076px;
right: 73px;
}

#dot6{
top: 129.9036px;
left: 0;
}

.edges{
  width:146px;
  height:4px;
  background-color:black;
  position:absolute;
  top:2px;
  left:77px;

  transform-origin: left;
}
#e1-3{
  top:0;
  transform: rotate(31deg);
  width: 255px;
}
#e1-4{
  top:0;
  transform: rotate(61.5deg);
  width: 300px;
}
#e1-5{
  top: 0;
  transform: rotate(89.5deg);
  width: 265px;
}
#e1-6{
  top: 1px;
  transform: rotate(119deg);
}
#e2-3{
  top:2px;
  left:222px;
  transform: rotate(60.7deg);
}
#e2-4{
  width: 264px;
  left: 221px;
  top:2px;
  transform: rotate(89deg);
}
#e2-5{
  left:221px;
  top:2px;
  width: 298px;
  transform: rotate(119deg);
}
#e2-6{
  left:221px;
  top:2px;
  width:256px;
  transform: rotate(149deg);
}
#e3-4{
  left:296px;
  top:130px;
  width: 150px;
  transform: rotate(118.5deg);
}
#e3-5{
  left:296px;
  top:130px;
  width: 258px;
  transform: rotate(148.5deg);
}
#e3-6{
  left:296px;
  top:130px;
  width: 294px;
  transform: rotate(179.5deg);
}
#e4-5{
  top:261px;
}
#e4-6{
  top:261px;
  left: 221px;
  width: 254px;
  transform: rotate(211deg);
}
#e5-6{
  top: 261px;
  transform: rotate(240.5deg);
}

#feedback{
  color: black;
  
}
